/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f5;
    color: #333;
    text-align: center;
    padding: 0px 20px;
    font-size: 16px;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#logo-defesa-civil {
    max-width: 80%; /* Garante que a imagem não ultrapasse a largura da página */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaço entre a imagem e o restante do conteúdo */
    box-shadow: none;
}

/* Screen Reader Info */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Main Section Styles */
main {
    font-size: 1rem;
}

p {
    font-weight: 700;
    font-size: 5vw;
    width: 100%;
    margin: 20px 0px;
}

input,
button,
img {
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;
}

input {
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    text-align: center;
}

button {
    padding: 20px 0;
    font-size: 1.5rem;
    font-family: system-ui;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2vw;
}

button:hover {
    background-color: #0056b3;
}

img {
    margin-top: 10px;
    width: 90%;
    max-width: 90%;
    height: auto;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

img.enlarged {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Input Container Styles */
.input-container {
    position: relative;
    margin-top: 20px;
    width: 90%; /* Define a largura do contêiner */
    margin-left: auto;
    margin-right: auto;
}

.input-container input {
    width: 100%; /* Agora, o input ocupa 100% da largura do contêiner */
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out; /* Transição suave para o input */
}

.input-container label {
    position: absolute;
    top: 20px;
    left: 10px;
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Transição suave para a label */
    font-size: 1.5rem;
    color: #aaa;
    pointer-events: none;
    opacity: 0; /* Inicialmente, a label estará oculta */
}

.input-container input.focused + label,
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 5px;
    left: 15px;
    font-size: 1rem;
    color: #007bff;
    opacity: 1; /* A label fica visível */
}

.input-container input:focus::placeholder {
    opacity: 0; /* Faz com que o placeholder desapareça suavemente */
}

/* Accessibility Tools (Aside) Styles */
#accessibility-tools {
    position: fixed;
    top: 32%;
    right: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
    z-index: 2147483647;
}

/* Dark Mode Toggle Button */
button#dark-mode-toggle {
    background: none;
    border: none;
    font-size: 2.1rem;
    cursor: pointer;
    margin: 100px 7px 0px;
}

/* VLibras Button Position */
div[vw] {
    position: relative;
    z-index: 2147483647;
}

[vw-access-button] {
    height: 47px !important; /* Garantir a altura desejada */
    transition: all .4s ease !important;
}

[vw-access-button]:hover {
    height: 51px !important; /* Garantir a altura desejada */
}

[vw-access-button] img {
    height: 100%; /* Garante que ambas as imagens mantenham a altura correta */
    width: auto; /* Mantém a proporção das imagens */
    margin-right: 5px; /* Espaçamento entre as imagens, ajuste conforme necessário */
}

[vw-access-button] .pop-up {
    display: inline-block;
    height: 100%; /* Garante que a segunda imagem também mantenha a altura correta */
    width: auto;
    position: relative !important;
}

/* Footer Styles */
footer>p {
    font-size: small;
    margin-bottom: 8px;
}

.swal2-show {
    z-index: 99 !important;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #f0f0f5;
}

body.dark-mode header {
    background-color: #0000;
}

body.dark-mode button#dark-mode-toggle {
    color: #f0f0f5;
}